<%- include('../partials/header'); -%>
    <div class="row">
        <div class="col-md-5" style="border-right-style: solid; border-right-width: 0.5px; border-right-color: gray; padding-right: 5%;">
            <h3><%=user.firstName + " " + user.lastName %>'s Profile</h3>
            <div class="row" style="padding: 10%">
                <div class="col-md-6">
                    <p>Email Id :</p>
                    <p>Phone Number : </p>
                    <p>UPI Id :</p>
                    <p>Studying In :</p>
                    <p>Batch :</p>
                    <p>Hostel :</p>
                </div>
                <div class="col-md-6">
                   <p><a href="mailto:<%=user.email %>" style="color: white;">   <%=user.email%></a></p> 
                   <p><%=user.phoneno%></p> 
                   <p><%=user.upiId%></p>
                   <p><%=user.studyin%> year</p>
                   <p><%=user.batch%> batch</p>
                   <p><%=user.hostel%> hostel</p>
                </div>

            </div>
        </div>
        <div class="col-md-7" style="padding-left: 5%;">
            <h3><%= user.firstName%> <%=user.lastName%>'s Products</h3>
            <div class="row" style="display:flex; flex-wrap: wrap ; padding-bottom: 2%;">
                <% inventorys.forEach(function(inventory){ %>
                    <div class=" col-md-3 col-sm-6" style="padding-top: 2%; ">
                        <div class="img-thumbnail" style="background-color: rgba(0, 0, 0, 0.3); border:none; padding: 0%;">
                            <img style="width: 100%; height: 100px;" src="../../images/inventorys/<%= inventory.image %>">
                            <div style="padding-top: 5%; padding: 5%;">
                                <h4 style="font-size: 15px;"><%= inventory.name %>  <span style="font-size: 15px;" class="float-right"> <em><%= inventory.price %>₹</span></em> </h4>
                            </div>   
                            <p style="text-align: center; padding-top: 5%; padding-bottom: 4%;">
                                <a href="/inventorys/<%=inventory._id%>" class="btn btn-dark btn-sm" >More Info</a>
                            </p> 
                        </div>   
                    </div>
                <% }); %> 
            </div>
    
        </div>
    </div>

<%- include('../partials/footer'); -%>